<!DOCTYPE html>
<div class="row">
    {% for blog in blog_posts %}
    <div class="col s12 m6">
        <div class="blog-card-wrapper" style="background: url('{{blog.blog_img_url}}');">
            <a href=" {{url_for('blog_entry', blog_id=blog._id) }} ">
                <div class="blog-card-text-wrapper center-align">
                    <h3 class="blog-title off-white text-shadow-1px">{{blog.blog_title}}</h3>
                    <p class="blog-summary off-white text-shadow-1px">{{blog.blog_summary}}</p>
                    <h4 class="blog-date sa-flag-gold text-shadow-1px"><em>{{blog.blog_date}}</em></h4>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>