<div id="projects-form-modal" class="modal grey darken-4">
    <div class="modal-content grey darken-4">
        <h4 class="off-white">Project</h4>
        <form id="projects-form">
            <input id="project-form-doc-id" type="hidden">
            <div class="row">
                <div class="input-field col s12">
                    <input id="project-name" name="project-name" type="text" class="validate">
                    <label for="project-name" class="projects-form-label">Project Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="project-img-url" name="project-img-url" type="text" class="validate">
                    <label for="project-img-url" class="projects-form-label">Project Image URL</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="project-github-url" name="project-github-url" type="text" class="validate">
                    <label for="project-github-url" class="projects-form-label">Project GitHub URL</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="project-deployed-url" name="project-deployed-url" type="text" class="validate">
                    <label for="project-deployed-url" class="projects-form-label">Project Live URL</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select id="project-technologies" name="project-technologies" multiple>
                        <option value="" disabled selected>Choose Technologies</option><i class="fas fa-chevron-down magenta"></i>
                        {% for technology in technology_list %}
                            <option class="project-technology" value="{{ technology }}">{{ technology }}</option>
                        {% endfor %}
                    </select>
                    <label class="projects-form-label">Technologies</label>
                </div>
            </div>
            {% for id in range(1, 6) %}
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="project-description-paragraph-{{ id }}" name="project-description-paragraph-{{ id }}"
                        class="project-description-paragraph materialize-textarea"></textarea>
                    <label for="project-description-paragraph-{{ id }}" class="projects-form-label">Project Description Paragraph {{ id }}</label>
                </div>
            </div>
            {% endfor %}
            <div class="row">
                <div class="col s12">
                    <button id="projects-form-btn" class="modal-submit-btn modal-close btn waves-effect waves-light"><i
                        class="fas fa-plus-square"></i>&nbsp;<span id="projects-form-submit-btn-text">Add</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer grey darken-4">
        <a class="modal-close waves-effect waves-green btn off-white">Close</a>
    </div>
</div>