<div id="skills-form-modal" class="modal grey darken-4">
    <div class="modal-content grey darken-4">
        <h4 class="off-white">Skill</h4>
        <form id="skills-form" onsubmit="return false">
            <input id="skill-form-doc-id" type="hidden">
            <div class="row">
                <div class="input-field col s12">
                    <input id="skill-name" name="skill-name" type="text" class="validate">
                    <label for="skill-name" class="skills-form-label">Skill Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="skill-level" name="skill-level" type="number" min="0" max="100" class="validate">
                    <label for="skill-level" class="skills-form-label">Skill Level</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <button id="skills-form-submit-btn" class="modal-submit-btn sa-flag-blue-bg off-white btn waves-effect waves-light"><i
                        class="fas fa-plus-square" type="submit"></i>&nbsp;<span id="skills-form-submit-btn-text">Add</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer grey darken-4">
        <a class="modal-close waves-effect waves-green btn sa-flag-green-bg off-white">Close</a>
    </div>
</div>