<div id="skills-form" class="modal grey darken-4">
    <div class="modal-content grey darken-4">
        <h4 class="off-white">Skill</h4>
        <form>
            <input id="skill-doc-id" type="hidden">
            <div class="row">
                <div class="input-field col s12">
                    <input id="skill-name" type="text" class="validate">
                    <label for="skill-name" class="skills-form-label">Skill Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="skill-level" type="text" class="validate">
                    <label for="skill-level" class="skills-form-label">Skill Level</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <button id="skills-form-btn" class="modal-close btn waves-effect waves-light"><i
                        class="fas fa-plus-square"></i>&nbsp;<span id="skills-form-submit-btn-text">Add</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer grey darken-4">
        <a class="modal-close waves-effect waves-green btn off-white">Close</a>
    </div>
</div>