<!DOCTYPE html>
{% extends 'layout/base.html' %}
{% block base_body %}
    {% with icon = 'info', section_title = 'ABOUT' %}
        {% include 'components/section-heading.html' %}
    {% endwith %}
    <div class="row">
        <div class="col s12">
            <div class="tablet-style-container off-white">
                <p><span class="tablet-style-user sa-flag-green-bg eerie-black">johann@wondrous:</span><span class="tablet-style-pwd sa-flag-gold"> ~/about</span><span class="sa-flag-red">$</span> My name is Johann Alberts, and I'm a Full Stack Developer.  I hail from a land far far away, but my work and passion for developing is no fairy tale. Unless of course it's too good to be true.  It IS true by the way... I'm a husband and a father and based on feedback and a few printed mugs, I'm in actual fact the reigning best father in the world for the third year running! Let it suffice to say that all the good qualities you expect to find in a model worker apply to me as well. I'd like to highlight a few I think might be of interest to you.</p>
                <div class="row">
                    <div class="col s12 l6">
                        <ul id="about-ul">
                            <li>
                                A great team player
                            </li>
                            <li>
                                Can function equally well working independently
                            </li>
                            <li>
                                I take the initiative to drive projects to completion
                            </li>
                            <li>
                                I love learning and expanding my knowledge base and skill set
                            </li>
                            <li>
                                Failure is not an option (I'm a provider)<span class="cursor-rectangle sa-flag-gold">▮</span>
                            </li>
                        </ul>    
                    </div>
                    <div class="col s12 l6">
                        <img src="https://res.cloudinary.com/wondrouswebworks/image/upload/v1585129267/wondrousWebWorks/about-section-1.jpg" alt="image of desk with a laptop and mug of coffee">
                    </div>
                </div>
            </div>
        </div>
    </div>
{%  endblock %}