<!DOCTYPE html>
{% extends 'layout/base.html' %}
{% block base_body %}
    <div class="row">
        <div class="col s12">
            <h2 class="section-heading">About</h2>
        </div>    
    </div>
    <div class="row about-summary">
        <div class="col s12 about-section-wrapper">
            <img class="float-img-right" src="https://res.cloudinary.com/wondrouswebworks/image/upload/v1585168186/wondrousWebWorks/about-page-1.jpg" alt="image of desk with a laptop and mug of coffee">
            <p><span class="about-summary-user">johann@wondrouswebworks:</span><span class="about-summary-pwd">~/about$</span>My name is Johann Alberts, and I'm a Full Stack Developer.  I hail from a land far far away, but my work and passion for developing is no fairy tale. Unless of course it's too good to be true.  It IS true by the way... I'm a husband and a father and based on feedback and a few printed mugs, I'm in actual fact the reigning best father in the world for the third year running! Let it suffice to say that all the good qualities you expect to find in a model worker apply to me as well. I'd like to highlight a few I think might be of interest to you.</p> 
        </div>
        <div class="col s12 about-section-wrapper">
            <ul id="about-ul">
                <li><span class="material-icons">
                    done
                    </span>Independent
                </li>
                <li><span class="material-icons">
                    done
                    </span>A great team player
                </li>
                <li><span class="material-icons">
                    done
                    </span>Can function equally well working independently
                </li>
                <li><span class="material-icons">
                    done
                    </span>I take the initiative to drive projects to completion
                </li>
                <li><span class="material-icons">
                    done
                    </span>I love learning and expanding my knowledge base and skill set
                </li>
                <li><span class="material-icons">
                    done
                    </span>Failure is not an option (I'm a provider)<span class="cursor-rectangle">▮</span>
                </li>
            </ul>    
        </div>
    </div>
{%  endblock %}