<!DOCTYPE html>
{% extends 'layout/admin_base.html' %}
{% block admin_block %}
<div class="row admin-dashboard-row">
    <div class="col m4 center-align">
        <div class="admin-info center-align">
            <div class="admin-info-inner">
                <h3 class="admin-info-value">{{ skill_count }}</h3>
            </div>
        </div>
        <h4 class="admin-info-category red-gold">Skills</h4>
        <a href="{{ url_for('add_skill') }}" class="admin-add-btn cadetblue-bg"><i class="fas fa-plus-circle"></i>
            ADD</a>
    </div>
    <div class="col offset-m4 m4 center-align">
        <div class="admin-info">
            <div class="admin-info-inner">
                <h3 class="admin-info-value">{{ project_count }}</h3>
            </div>
        </div>
        <h4 class="admin-info-category red-gold">Projects</h4>
        <a href="{{ url_for('add_project') }}" class="admin-add-btn cadetblue-bg"><i class="fas fa-plus-circle"></i>
            ADD</a>
    </div>
</div>
<div class="row admin-dashboard-row">
    <div class="col offset-m4 m4 center-align">
        <div class="admin-info">
            <div class="admin-info-inner">
                <h3 class="admin-info-value">{{ qualification_count }}</h3>
            </div>
        </div>
        <h4 class="admin-info-category red-gold">Qualifications</h4>
        <a href="{{ url_for('add_skill') }}" class="admin-add-btn cadetblue-bg"><i class="fas fa-plus-circle"></i>
            ADD</a>
    </div>
</div>
<div class="row admin-dashboard-row">
    <div class="col m4 center-align">
        <div class="admin-info center-align">
            <div class="admin-info-inner">
                <h3 class="admin-info-value">{{ blog_posts_count }}</h3>
            </div>
        </div>
        <h4 class="admin-info-category red-gold">Blogs</h4>
        <a href="{{ url_for('add_skill') }}" class="admin-add-btn cadetblue-bg"><i class="fas fa-plus-circle"></i>
            ADD</a>
    </div>
    <div class="col offset-m4 m4 center-align">
        <div class="admin-info">
            <div class="admin-info-inner">
                <h3 class="admin-info-value">{{ experience_count }}</h3>
            </div>
        </div>
        <h4 class="admin-info-category red-gold">Experience</h4>
        <a href="{{ url_for('add_skill') }}" class="admin-add-btn cadetblue-bg"><i class="fas fa-plus-circle"></i>
            ADD</a>
    </div>
</div>
{% endblock %}