<!DOCTYPE html>
{% extends 'layout/base.html' %}
{% block base_body %}
<div class="row">
    <div class="col s12">
        <h2 class="section-heading"><i class="fas fa-blog"></i> Blog</h2>
    </div>
</div>
<div class="row">
    {% for blog in blog_posts %}
    <div class="col s6">
        <a href=" {{url_for('blog_entry', blog_id=blog._id) }} ">
            <div class="project-wrapper">
                <img class="blog-image" src="{{blog.blog_img_url}}" alt="blog image">
                <h3 class="blog-title cadetblue">{{blog.blog_title}}</h3>
                <h4 class="blog-date magenta"><em>{{blog.blog_date}}</em></h4>
                <p class="blog-summary">{{blog.blog_summary}}</p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}