<!DOCTYPE html>
{% extends 'layout/base.html' %}
{% block base_body %}
    <div class="row">
        <div class="col s12">
            <img class="blog-entry-image" src="{{blog_entry.blog_img_url}}" alt="blog image">
            <h3 class="blog-title cadetblue">{{blog_entry.blog_title}}</h3>
            <h4 class="blog-date magenta"><em>{{blog_entry.blog_date}}</em></h4>
            {% for paragraph in blog_entry.blog_body %}
                <p class="project-paragraph off-white blog-paragraph">{{ paragraph }}
                </p>
            {% endfor %}
        </div>
    </div>
{% endblock %}