<!DOCTYPE html>
{% extends 'layout/base.html' %}
{% block base_body %}

{% with icon = 'envelope', section_title = 'CONTACT' %}
    {% include 'components/section-heading.html' %}
{% endwith %}

<div class="row">
    <form action="{{ url_for('contact') }}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input id="email" name="email" type="email" class="validate">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="subject" name="subject" type="text" class="validate">
                <label for="subject">Subject</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="query" name="query" class="materialize-textarea"></textarea>
                <label for="query">Query</label>
            </div>
        </div>
        <div class="row">
            <div class="co s12">
                <button class="btn sa-flag-blue-bg off-white waves-effect waves-light" type="submit">Reach out and touch faith
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}