<!DOCTYPE html>
{% extends 'layout/admin_base.html' %}
{% block admin_block %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h2 class="section-heading"><i class="fas fa-plus-square"></i>  Edit Skill</h2>
        </div>
    </div>
    <div class="row admin-add">
        <form  class="col s12" method="POST" action="{{ url_for('update_skill', skill_id=skill._id) }}">
            <div class="row">
                <div class="input-field col s12">
                    <input id="skill_name" name="skill_name" type="text" class="validate" value="{{skill.skill_name}}">
                    <label for="skill_name">Skill Name</label>
                </div>
                <div class="input-field col s12">
                    <input id="skill_img_url" name="skill_img_url" type="text" class="validate" value="{{skill.skill_img_url}}">
                    <label for="skill_img_url">Skill Image URL</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="skill_level" name="skill_level" type="text" class="validate" value="{{skill.skill_level}}">
                    <label for="email">Skill Level</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <button class="btn waves-effect waves-light" type="submit">Upload Changes
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}