<!DOCTYPE html>
{% extends 'layout/admin_base.html' %}
{% block admin_block %}
<div class="container">
    <div class="row">
        <div class="col s12">
            <h2 class="section-heading"><i class="fas fa-plus-square"></i> Edit Project</h2>
        </div>
    </div>
    <div class="row admin-add">
        <form class="col s12" method="POST" action="{{ url_for('update_project', project_id=project._id) }}">
            <div class="row">
                <div class="input-field col s12">
                    <input id="project_name" name="project_name" type="text" class="validate" value="{{ project.project_name }}">
                    <label for="project_name">Project Name</label>
                </div>
                <div class="input-field col s12">
                    <input id="project_img_url" name="project_img_url" type="text" class="validate" value="{{ project.project_img_url }}">
                    <label for="project_img_url">Project Image URL</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="project_github_url" name="project_github_url" type="text" class="validate" value="{{ project.project_github_url }}">
                    <label for="project_github_url">Project GitHub URL</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="project_live_url" name="project_deployed_url" type="text" class="validate" value="{{ project.project_deployed_url }}">
                    <label for="project_live_url">Project Live URL</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select name="project_technologies" multiple>
                        <option value="" disabled selected>Choose Technologies</option><i class="fas fa-chevron-down magenta"></i>
                        {% for technology in technology_list %}
                            {% if technology in project.project_technologies %}
                                <option value="{{ technology }}" selected>{{ technology }}</option>
                            {% else %}
                                <option value="{{ technology }}">{{ technology }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label>Technologies</label>
                </div>
            </div>
            {% for project_description in project.project_description %}
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="project-description-paragraph-{{loop.index}}" name="project_description"
                            class="materialize-textarea">{{ project_description }}</textarea>
                        <label for="project-description-paragraph-{{loop.index}}">Project Description Paragraph {{loop.index}}</label>
                    </div>
                </div>
            {% endfor %}
            <div class="row">
                <div class="col s12">
                    <button class="btn waves-effect waves-light" type="submit">Upload Changes
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}