<!DOCTYPE html>
{% extends 'layout/base.html' %}
{% block base_body %}

{% include 'components/about-summary.html' %}

<div class="row">
    <div class="col s12">
        <h2 class="section-heading"><i class="fas fa-magic"></i>  Skilzzz</h2>
    </div>
</div>
{% include 'components/skills.html' %}

<div class="row">
    <div class="col s12">
        <h2 class="section-heading"><i class="fas fa-code"></i>  Portfolio</h2>
    </div>
</div>
{% include 'components/project_card.html' %}
<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('portfolio') }}" class="all-projects-btn off-white magenta-bg">All Projects</a>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <h2 class="section-heading"><i class="fas fa-graduation-cap"></i>  Education</h2>
    </div>
</div>
{% include 'components/qualification_card.html' %}

<div class="row">
    <div class="col s12">
        <h2 class="section-heading"><i class="fas fa-briefcase"></i>  Experience</h2>
    </div>
</div>
{% include 'components/experience_card.html' %}

{% endblock %}