<!DOCTYPE html>
{% extends 'layout/base.html' %}
{% block base_body %}

{% include 'components/about-summary.html' %}

{% with icon = 'magic', section_title = 'SKILLS' %}
    {% include 'components/section-heading.html' %}
{% endwith %}
{% include 'components/skills.html' %}

{% with icon = 'code', section_title = 'PROJECTS' %}
    {% include 'components/section-heading.html' %}
{% endwith %}
{% include 'components/project-card.html' %}
<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('portfolio') }}" class="all-projects-btn off-white magenta-bg">All Projects</a>
    </div>
</div>

{% with icon = 'graduation-cap', section_title = 'EDUCATION' %}
    {% include 'components/section-heading.html' %}
{% endwith %}
{% include 'components/qualification-card.html' %}

{% with icon = 'briefcase', section_title = 'EXPERIENCE' %}
    {% include 'components/section-heading.html' %}
{% endwith %}
{% include 'components/experience-card.html' %}

{% endblock %}