<!DOCTYPE html>
{% extends 'layout/base.html' %}
{% block base_body %}
<div class="row">
    <div class="col s12">
        <h2 class="section-heading">Login</h2>
    </div>
</div>
<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input id="username" type="text" class="validate">
                <label for="username">Username</label>
            </div>
            <div class="input-field col s12">
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
            </div>
        </div>
        <div class="row">
            <div class="co s12">
                <button class="btn waves-effect waves-light" type="submit" name="action">Sign In
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    </form>
</div>    
{% endblock %}