<!DOCTYPE html>
{% extends 'layout/admin_base.html' %}
{% block admin_block %}
<div class="row">
    <div class="col s12">
        <h2 class="section-heading"><i class="fas fa-tasks"></i>&nbsp;Manage Skills</h2>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <ul class="collapsible custom-collapsible admin-list">
            {% for skill in skills %}
            <li>
                <div class="collapsible-header custom-collapsible-header"><i class="fas fa-chevron-down cadetblue"></i>
                    {{ skill.skill_name}}</div>
                <div class="collapsible-body custom-collapsible-body">
                    <div class="admin-list-btn-wrapper">
                        <a href="{{ url_for('edit_skill') }}" class="admin-list-btn light-blue-bg"><i
                                class="fas fa-edit"></i> Edit</a>
                        <a href="{{ url_for('delete_skill', skill_id=skill._id) }}" class="admin-list-btn crimson-bg"><i
                                class="fas fa-trash-alt"></i> Delete</a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}