<!DOCTYPE html>
{% extends 'layout/base.html' %}
{% block base_body %}
<div class="row">
    <div class="col s12">
        <h2 class="section-heading"><i class="fas fa-code"></i> {{ project.project_name }}</h2>
    </div>
</div>
<div class="row">
    <div class="col s8">
        <img class="project-page-img" src="{{project.project_img_url}}" alt="project image">
    </div>
    <div class="col s4">
        <h3 class="technology-heading off-white">Technologies Used</h3>
        <ul>
            {% for technology in project.project_technologies %}
            <li class="technology"><i class="fas fa-tools"></i>&nbsp;&nbsp;{{technology}}</li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="row">
    <div class="col s12">
        {% for paragraph in project.project_description %}
        <p class="project-paragraph off-white">{{ paragraph }}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}