<!DOCTYPE html>
{% extends 'layout/base.html' %}
{% block base_body %}
<div class="about-summary">
    <div class="row">
        <div class="col s12">
            <h2 class="section-heading">{{ project.project_name }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col s4">
            <img class="project-img" src="{{project.project_img_url}}" alt="project image">
        </div>
        <div class="col s8">
            <h3>Technologies Used</h3>
            <ul>
                {% for technology in project.project_technologies %}
                    <li class="technology"><i class="fas fa-tools"></i>&nbsp;&nbsp;{{technology}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col s12">
            {% for paragraph in project.project_description %}
            <p class="project-paragraph">{{ paragraph }}</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}