@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Roboto+Slab&display=swap');

body {
    position: relative;
    font-size: 16px;
    background-color: #1c1c1c;
    background-repeat: repeat;
    font-family: 'Roboto Slab', sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
}

h1, h2, h3, h4, nav {
    font-family: "Baloo 2", sans-serif;
}

/* SHARED STYLING */
#view {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8vh;
    background-color: transparent;
}
.section-heading {
    display: inline-block;
    margin: 2.5rem auto 1rem;
    padding: 1.5rem .5rem .8rem;
    font-size: 3rem;
    border-bottom: 3px solid #007749;
}

.tablet-style-container {
    font-family: "Open Sans", sans-serif;
    margin: 2rem auto;
    width: 95%;
    padding: 2rem;
    font-size: 2rem;
    border: 2.5rem solid #181818;
    border-radius: 36px;
    color: #f7f7f7;
    background: linear-gradient(145deg, #111, #161616);
    box-shadow:  5px 5px 6px #0e0e0e, 
                -5px -5px 6px #222222;
}

.tablet-style-container p {
    padding: 0 .5rem;
    margin: 0;
}   

.tablet-style-user {
    font-weight: bold;
    background-color: cadetblue;
    color: #111;
    border-radius: 2px;
    padding: 5px;
}

.tablet-summary-pwd {
    color: #a05f7e;
}

.cursor-rectangle {
    visibility: visible;
}

.cursor-hide {
    visibility: hidden;
}

.container {
    margin: 1rem auto;
    width: 80%;
    min-height: 100%;
}

.multi-paragraphs {
    padding: 1rem 2rem;
    border-left: 2px solid #E03C31;
    font-size: 1.2rem;
    background: #1a1a1a;
    border-radius: 4px;
}

.text-shadow-2px {
    text-shadow: 2px 2px #101010;
}

.text-shadow-1px {
    text-shadow: 1px 1px #101010;
}

body::-webkit-scrollbar, .modal::-webkit-scrollbar, ul::-webkit-scrollbar {
    width: 1rem;
  }
   
body::-webkit-scrollbar-track, .modal::-webkit-scrollbar-track, ul::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb, .modal::-webkit-scrollbar-thumb, ul::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #007749, #FFB81C);
    outline: 1px solid slategrey;
    border-radius: 4px;
}

@media(max-width: 991px) {
    .tablet-style-container {
        padding: 1.5rem;
        font-size: 1.5rem;

    }

    .section-heading {
        margin: 2.5rem 0 1rem;
        font-size: 2.2rem;
    }
}

@media(max-width: 576px) {
    .section-heading {
        font-size: 1.7rem;
        margin: 2rem 0 1rem;
        padding: 0;
    }
    
    .tablet-style-container {
        width: 100%;
        padding: .7rem;
        font-size: 1rem;
        border: 1rem solid #181818;
        border-radius: 1rem;
        box-shadow:  5px 5px 6px #0e0e0e, 
                    -5px -5px 6px #222222;
    }
        
    .tablet-style-user {
        padding: 3px;
    }

    .multi-paragraphs {
        padding-left: 1rem;
        font-size: 1rem;
    }
}

/* BUTTONS COLOUR TRANSITIONS*/

button.sa-flag-green-bg:hover, a.sa-flag-green-bg:hover {
    background-color: #004d2f;
}

button.sa-flag-blue-bg:hover, a.sa-flag-blue-bg:hover {
    background-color: #0059b3;
}

a.sa-flag-red-bg:hover {
    background-color: #b1251b;
}

/* FIXED SHORTCUTS */
.fixed-shortcuts-left {
    position: fixed;
    align-items: flex-end;
    top: 70%;
}

.fixed-shortcuts-left a {
    margin-left: .5rem;
    text-decoration: none;
}

.fixed-shortcuts-left a i {
    font-size: 3rem;
    margin-bottom: .7rem;
    transition: transform .5s ease-in-out;
}

.fixed-shortcuts-left a i:hover {
    transform: rotateZ(360deg);
}

@media(max-width: 576px) {
    .fixed-shortcuts-left a i {
        font-size: 2.1rem;
        margin-bottom: .6rem;
    }
    
    .fixed-shortcuts-left a i:hover {
        transform: scale(1.08);
    }
}

/* NAVBAR */
#fixed-navbar {
    position: fixed;
    top: 0;
    z-index: 10;
    height: 8vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo-wrapper {
    margin-left: 2rem;
    height: 60%;
    line-height: 1;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#fixed-navbar img {
    height: 100%;
}

#brand-logo-image-link {
    height: 100%;
}

#brand-logo {
    font-size: 1.5rem;
}

.nav-display-row {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.nav-display-col {
    position: fixed;
    width: 13rem;
    top: 8vh;
    right: 0;
    background-color: rgba(51, 51, 51, .95);
    opacity: 0;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transform: translateX(13rem);
    transition: all .7s ease-in-out;
}

.nav-display-col-item a, .nav-display-col-item a i {
    font-size: 1rem;
    transition: all .5s ease-in-out;
}

.nav-display-col-item a:hover {
    transform: scale(1.3);
    background-color: transparent;
}


.nav-slide {
    transform: translateX(0rem);
    opacity: 1;
}

hr {
    width: 90%;
    line-height: .5;
    margin: 0 auto;
    border: 1px solid #1c1c1c;
}

#fixed-navbar .menu-toggle-icon-wrapper {
    margin-right: 1rem;
    line-height: auto;
}

.menu-toggle-icon {
    position: fixed;
    display: none;
    transition: all .7s ease-in-out;
}

.menu-toggle-icon-expand {
    transform: scaleY(2.2);
}

a.horizontal-nav-item {
    text-shadow: 2px 2px #333;
    margin: 0 .5rem;
    font-size: 1.3rem;
    transition: all .3s ease-in-out;
}

a.horizontal-nav-item:hover {
    transform: scale(1.1) translateY(-.5rem);
    background-color: transparent;
}

nav i.fas {
    font-size: 1.3rem;
}

#fixed-navbar .fas {
    line-height: 8vh;
}

@media(max-width: 1200px) {
    .nav-display-row {
        margin-right: 0;
    }

    .nav-display-row  a {
        margin: 0;
    }

    .menu-toggle-icon {
        display: none;
    }

    a.horizontal-nav-item {
        font-size: 1.3rem;
    }

    a.horizontal-nav-item i {
        font-size: 1.3rem;
    }
}

@media(max-width: 991px) {
    .nav-display-row {
        display: none;
    }

    .menu-toggle-icon {
        position: relative;
        display: block;
        margin-right: 1rem;
    }

    nav ul li {
        font-size: 1.1rem;
    }
}

@media(max-width: 576px) {
    .menu-toggle-icon {
        display: block;
        margin-right: 1rem;
    }

    #brand-logo {
        font-size: 1.3rem;
    }

    .menu-toggle-icon i {
        font-size: 1.4rem;
    }

    .menu-toggle-icon-expand {
        transform: scaleY(1.5);
    }
}

/* HEADER */
.header-image-wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.header-image-shorter {
    height: 80vh;
}

.header-image {
    background: url("https://res.cloudinary.com/wondrouswebworks/image/upload/v1588539782/wondrousWebWorks/wondrous-header-green.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scaleX(1.1);

    animation-name: scale-hero-shot;
    animation-timing-function: ease-in-out;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

@keyframes scale-hero-shot {
    0%   {
        transform: scaleX(1.1);
    }
    50%   {
        transform: scaleX(1.15);
    }
    100%   {
        transform: scaleX(1.1);
    }
}

.jumbotron {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -17.5%;
    transform: translateY(-50%);
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: rgba(0,0,0, .7);
    padding: 1rem 2rem 1.5rem;
    border-radius: 1rem;
}

.jumbotron h1 {
    font-size: 3rem;
    color: #f3f3f3;
    margin: 1.5rem;
    text-align: center;
}

a.call-to-action-btn {
    margin-top: 2rem;
    font-size: 2rem;
    background-color: #E03C31;
    color: #f7f7f7;
    transition: all .5s ease-in-out;
}

@media(max-width: 576px) {
    .header-image {
        background-size: auto 100%;
    }
    .jumbotron {    
        width: 80%;
        margin-left: -40%;
        padding: .7rem 1rem;
        border-radius: .6rem;
    }
    
    .jumbotron h1 {
        font-size: 1.8rem;
        margin: 1rem auto 0;
    }
    
    a.call-to-action-btn {
        margin: 2.5rem 0 1rem;
        font-size: 1.5rem;
    }

    @keyframes scale-hero-shot {
        0%   {
            transform: scaleX(1.1);
        }
        50%   {
            transform: scaleX(1.3);
        }
        100%   {
            transform: scaleX(1.1);
        }
    }
}

/* FOOTER */
footer {
    height: 7vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

footer .copyright {
    text-align: center;
    font-size: 1.2rem;
}

/* SKILLS */
.skill-wrapper {
    width: 80%;
    margin: auto;
    position: relative;
    border-radius: 50%;
    background: linear-gradient(145deg, #161616, #1a1a1a);
    box-shadow:  5px 5px 6px #0e0e0e, 
                 -5px -5px 6px #222222; 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill-wrapper:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.skill-name {
    font-size: 1.8rem;
    margin-top: 1rem;
    z-index: 2;
    font-weight: bold;
}

.skill-level {
    font-size: 2.2rem;
    position: absolute;
    z-index: 2;
    margin: 0;
    line-height: 0;
}

.skill-bars-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 85%;
    width: 85%;
    background: #181818;
    border-radius: 50%;
    box-shadow: inset 5px 5px 6px #0e0e0e, 
                inset -5px -5px 6px #222222;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    overflow: hidden;
}

.skill-bar {
    z-index: 3;
    content: "";
    width: 6%;
}

@media(max-width: 991px) {
    .skill-name {
        font-size: 1.2rem;
    }
}

@media(max-width: 576px) {
    .skill-wrapper {
        width: 90%;
    }
    
    .skill-name {
        font-size: 1rem;
        margin-top: .7rem;
    }
}

/* PROJECTS */
.project-wrapper {
    width: 85%;
    margin: auto;
    border-radius: .5rem;
    background: #1c1c1c;
    box-shadow:  7px 7px 10px #0e0e0e,
                 -7px -7px 10px #0e0e0e;
}

.project-col {
    transition: transform .7s ease-in-out, opacity .7s ease-in-out;
    margin-bottom: 1rem;
}

.project-scale-bigger {
    transform: scale(1.1);
}

.project-scale-smaller-and-opage {
    transform: scale(.85);
    opacity: .3;
}

.project-wrapper h3 {
    font-size: 2rem;
    text-align: center;
    margin: 0;
}

.project-wrapper img {
    width: 100%;
    height: auto;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.project-wrapper a {
    font-size: 3rem;
}

.project-links-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

a.all-projects-btn {
    font-size: 1.5rem;
    background-color: #E03C31;
    transition: all .5s ease-in-out;
}

@media(max-width: 991px) {
    .project-wrapper {
        width: 95%;
    }

    .project-wrapper h3 {
        font-size: 1.3rem;
    }

    .project-links-wrapper a {
        font-size: 2rem;
    }
}

@media(max-width: 576px) {
    .project-wrapper {
        width: 90%;
        margin-bottom: 1rem;
    }
    
    .project-wrapper h3 {
        font-size: 1.2rem;
        margin: 0;
    }
    
    .project-wrapper a {
        font-size: 2.5rem;
    }
    
    a.all-projects-btn {
        font-size: 1.15rem;
        border-radius: .3rem;
    }
}

/* EDUCATION */
.custom-collapsible {
    width: 80%;
    margin: auto;
    border: none;
    border-radius: .8rem;
    background: #1c1c1c;
    box-shadow:  5px 5px 10px #111111,
                 -5px -5px 10px #111111;
}

.custom-collapsible-header {
    background-color: #222;
    color: #f7f7f7;
    font-size: 1.8rem;
    border-bottom: 1px solid #111;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    transition: all .5s ease-in-out;
}

.custom-collapsible-header-hover {
    background-color: #333;
}

.collapsible-header:hover {
    background-color: #333;
}

.custom-collapsible-header i {
    transition: transform .5s ease-in-out;
}

.custom-collapsible-body {
    padding: .8rem;
    background-color: #1d1d1d;
    border-bottom: 1px solid #101010;
}

.custom-collapsible-body p {
    font-size: 1.35rem;
    color: #f7f7f7;
    margin: 5px;
}

.custom-collapsible-body li:last-child div {
    border: none;
}

.qualification-btn {
    text-decoration: none;
    font-size: 1.5rem;
    transition: all .5s ease-in-out;
}

@media(max-width: 991px) {
    .custom-collapsible {
        width: 88%;
    }

    .custom-collapsible-header {
        font-size: 1.3rem;

    }
    
    .custom-collapsible-body p {
        font-size: 1.1rem;
    }
}

@media(max-width: 576px) {
    .custom-collapsible {
        width: 100%;
    }
    
    .custom-collapsible-header {
        font-size: 1.1rem;
    }
    
    .custom-collapsible-body {
        padding: .5rem;
    }
    
    .custom-collapsible-body p {
        font-size: .9rem;
    }
    
    .qualification-btn {
        font-size: 1rem;
    }
}

/* EXPERIENCE */
.experience-card {
    background-color: #1f1f1f;
    padding: 0 1rem;
    box-shadow:  5px 5px 10px #111111,
                -5px -5px 10px #111111;
    border-radius: 4px;
    transition: transform .35s ease-in-out;
}

.experience-card:hover {
    transform: scale(1.08);
}

.experience-card .card-action {
    border-top: 1px solid #111;
}

#experience .card h3 {
    font-size: 1.8rem;
    margin: 0;
}

#experience .card p {
    font-size: 1.5rem;
}

@media(max-width: 991px) {
    .experience-card {
        padding: 0 .5rem;
    }

    .experience-card .card-content {
        padding: .8rem .5rem;
    }

    #experience .card h3 {
        font-size: 1.3rem;
        margin: 0;
    }
    
    #experience .card p {
        font-size: 1.1rem;
    }
}

@media(max-width: 576px) {    
    #experience .card h3 {
        font-size: 1.2rem;
    }

    #experience .card p {
        font-size: .95rem;
    }

    #experience .card .card-content {
        padding: .5rem .7rem;
    }
}

/* FORMS */
form {
    border-radius: .4rem;
    background: linear-gradient(145deg, #111, #161616);
    padding-bottom: 1.5rem;
}

form .row {
    padding: 0 1.5rem;
}

.select-dropdown {
    background-color: #222;
}

.select-wrapper svg {
    display: none;
}

input:focus, textarea:focus {
    color: #f7f7f7;
}

input, textarea {
    color: cadetblue;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #111 inset !important;
    box-shadow: 0 0 0 30px #111 inset !important;
    -webkit-text-fill-color: #f7f7f7 !important;
    color: #f7f7f7 !important;
}

.form-shadow {
    box-shadow:  9px 9px 10px #0e0e0e, 
                -9px -9px 10px #0e0e0e;
}

/* FULL PROJECT INFO PAGE */
.project-page-image-and-header {
    width: 100%;
}

.project-page-img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.technology-heading {
    font-size: 2.2rem;
}

.technology {
    font-size: 1.8rem;
}

.technology:nth-child(even) {
    color: #007749;
}

.technology:nth-child(odd) {
    color: #FFB81C;
}

@media(max-width: 576px) {
    .technology-heading {
        font-size: 1.5rem;
    }

    .technology {
        font-size: 1.1rem;
    }

    #project-technology-list {
        margin-bottom: 0;
    }
}

/* ABOUT */
.tablet-style-container img {
    width: 85%;
    height: auto;
    margin: 2rem auto;
}

p.tablet-style-container, li.tablet-style-container  {
    font-size: 1.8rem;
    margin: 0;
}

#about-ul li {
    list-style: square outside; 
    margin-left: 3rem;
}

@media(max-width: 576px) {
    .tablet-style-container img {
        width: 100%;
        height: auto;
        margin: 2rem 0 .5rem;
    }
}

/* BlOG POST CARDS */
.blog-card-wrapper {
    width: 100%;
    text-decoration: none;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
    border-radius: .3rem;
    margin-bottom: 2rem;
    box-shadow:  7px 7px 10px #0e0e0e,
                 -7px -7px 10px #0e0e0e;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-card-wrapper a {
    width: 100%;
}

.blog-card-text-wrapper {
    width: 100%;
    background-color: rgba(0, 119, 73, .8);
    padding: .7rem 0;
}

.blog-entry-image {
    width: 40%;
    height: auto;
    float: right;
    margin: 1rem 2rem;
}

.blog-post .blog-title {
    font-size: 1.7rem;
    margin: 0 0 1rem 2rem;
}

.blog-date {
    font-size: 1.2rem;
    margin: 0 2rem 1rem;
}

.blog-summary {
    display: none;
}

.blog-card-wrapper:hover .blog-card-text-wrapper {
    height: 100%;
}


.blog-card-wrapper:hover .blog-date {
    display: block;
}

.blog-card-wrapper:hover .blog-summary {
    display: block;
}

.blog-paragraph {
    font-size: 1.2rem;
}

@media(max-width: 576px) {
    .blog-card-wrapper {
        min-height: 250px;
    }

    .blog-summary {
        display: block;
        font-size: 1rem;
    }

    h2.header-summary {
        font-size: 1.4rem;
        padding: 1rem;
        margin: 1rem 0 0;
    }

    .blog-card-text-wrapper {
        padding: 1rem;
    }

    .blog-card-text-wrapper .blog-title {
        font-size: 1.3rem;
    }
    
    .blog-card-text-wrapper .blog-date {
        font-size: 1.1rem;
    }

    .blog-post .blog-title {
        /* font-size: 1.4rem; */
        margin-top: 2rem;
    }

    .multi-paragraphs {
        padding: 1rem;
    }

    .blog-paragraph {
        font-size: .9rem;
    }

    .blog-entry-image {
        width: 100%;
        float: none;
        margin: 0;
    }
}

/* ADMIN */
.dashboard-row {
    margin-top: 10rem;
}

.admin-heading-margin {
    margin-top: 10vh;
}

.admin-info {
    position: relative;
    width: 50%;
    padding-top: 50%;
    margin: auto;
    position: relative;
    border-radius: 50%;
    background: linear-gradient(145deg, #161616, #1a1a1a);
    box-shadow:  5px 5px 6px #0e0e0e, 
                 -5px -5px 6px #222222; 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admin-info-inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 85%;
    width: 85%;
    background: #181818;
    border-radius: 50%;
    box-shadow: inset 5px 5px 6px #0e0e0e, 
                inset -5px -5px 6px #222222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admin-info-value {
    font-size: 8rem;
    color: #fff;
    animation-name: neon-pulse;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes neon-pulse {
    0% {
        text-shadow: 0 0 5px #fff, 
        0 0 8px #a07f5f, 
        0 0 13px #a07f5f, 
        0 0 17px #a07f5f, 
        0 0 24px #a07f5f, 
        0 0 30px #a07f5f, 
        0 0 45px #a07f5f;
    }
    50% {
        text-shadow: 0 0 5px #fff, 
        0 0 10px #a07f5f, 
        0 0 20px #a07f5f, 
        0 0 30px #a07f5f, 
        0 0 40px #a07f5f, 
        0 0 55px #a07f5f, 
        0 0 70px #a07f5f;
    }
    100% {
        text-shadow: 0 0 5px #fff, 
        0 0 8px #a07f5f, 
        0 0 13px #a07f5f, 
        0 0 17px #a07f5f, 
        0 0 24px #a07f5f, 
        0 0 30px #a07f5f, 
        0 0 45px #a07f5f;
    }
}

.admin-info-category {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 1rem 0 1.5rem;
}

.admin-list {
    width: 80%;
    margin: auto;
    margin-top: 2.5rem;
    border-radius: .5rem;
    box-shadow:  7px 7px 10px #0e0e0e,
                 -7px -7px 10px #0e0e0e;
    
}

.admin-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-bottom: 2px solid #070707;
    padding: .85rem 1.5rem;
    font-size: 1.5rem;
    transition: background-color .5s ease-in-out;
}

.admin-list-item:hover {
    background-color: #333;
}

.admin-list-item:last-child {
    border: none;
}

a.dashboard-btn {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    transition: all .5s ease-in-out;
}

a.add-modal-trigger {
    font-size: 1.6rem;
}

li.admin-list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media(max-width: 576px) {
    .admin-info {
        width: 90%;
        padding-top: 85%;
    }

    .admin-info-value {
        font-size: 4rem;
    }

    .admin-info-category {
        font-size: 1.6rem;
    }

    .admin-list {
        width: 100%;
    }

    a.dashboard-btn, a.dashboard-btn i {
        font-size: 1rem;
        margin-bottom: 4rem;
    }

    .container {
        margin-bottom: 2rem;
    }

    .admin-list-item span {
        display: block;
        width: 100%;
    }

    li.admin-list-item {
        font-size: 1.2rem;
        text-align: center;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .admin-list-item-btn-wrapper {
        display: inline-block;
        margin: auto;
        text-align: center;
        margin-top: 1.2rem;
    }

    li.admin-list-item .btn, li.admin-list-item i {
        font-size: .8rem;
    }

    .admin-list-item-text {
        display: inline-block;
        margin: auto;
    }

    a.add-modal-trigger, a.add-modal-trigger i {
        font-size: 1.2rem;
    }

    button.modal-submit-btn, 
    button.modal-submit-btn i,
    a.modal-close {
        font-size: 1rem;
    }
}

/* COLOURS */
.card-bg {
    background-color: #1f1f1f;
}

.off-white {
    color: #f7f7f7;
}

.eerie-black-bg {
    background-color: #1c1c1c;
}

.sa-flag-red {
    color: #E03C31;
}

.sa-flag-red-bg {
    background-color: #E03C31;
}

.sa-flag-green {
    color: #007749;
}

.sa-flag-green-bg {
    background-color: #007749;
}

.sa-flag-gold {
    color: #FFB81C;
}

.sa-flag-gold-bg {
    background-color: #FFB81C;
}

.sa-flag-blue {
    color: #0080ff;
}

.sa-flag-blue-bg {
    background-color: #0080ff;
}

/* ALERT MESSAGES */
.alert-wrapper {
    width: 80%;
    margin: 15vh auto 2rem;
    border-radius: 4px;
}

.alert-message {
    text-align: center;
    font-size: 1.3rem;
    margin: 0;
    padding: .5rem;
    border-radius: 4px;
}

.alert-success {
    background-color: rgba(153, 255, 153, .6);
    color: #004d00;
}

.alert-failure {
    background-color: rgba(255, 77, 77, .6);
    color: #800000;
}

.alert-info {
    background-color: 	rgba(204, 230, 255, .6);
    color: #003566;
}