@import url('https://fonts.googleapis.com/css?family=Baloo+2|Roboto|VT323&display=swap');

body {
    font-size: 16px;
    background-color: #1c1c1c;
    /* background-image: url("https://www.transparenttextures.com/patterns/random-grey-variations.png"); */
    background-repeat: repeat;
    font-family: 'Baloo 2', cursive;
    overflow-x: hidden;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* SHARED STYLING */
.section-heading {
    margin: 3rem 0 1rem;
    padding: 1.5rem;
    text-align: center;
    font-size: 3rem;
    color: cadetblue;
    text-shadow: 2px 2px #333;
}

/* FIXED SHORTCUTS */
.fixed-shortcuts-left {
    position: fixed;
    align-items: flex-end;
    top: 70%;
}

.fixed-shortcuts-left a {
    margin-left: .5rem;
    text-decoration: none;
}

.fixed-shortcuts-left a i {
    font-size: 3rem;
    margin-bottom: .7rem;
    transition: transform .5s ease-in-out;
}

.fixed-shortcuts-left a i:hover {
    transform: scale(1.2);
}

/* NAVBAR */
.vertical-align {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.align-right {
    right: 5rem;
}

nav {
    height: 8vh;
    background-color: #5f9ea0;
}

.brand-logo {
    height: 40%;
    margin-left: 5rem;
}

nav img {
    height: 100%;
}

nav ul {
    margin-right: 5rem;
}

nav ul li a {
    text-shadow: 2px 2px #333;
    margin: 0 .5rem;
    font-size: 1.6rem;
}

/* HEADER */

.header-image {
    width: 100vw;
    height: 90vh;
    background: url("https://res.cloudinary.com/wondrouswebworks/image/upload/v1586101487/wondrousWebWorks/wondrous-header.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transform: scaleX(1);

    animation-name: scale-hero-shot;
    animation-timing-function: linear;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

@keyframes scale-hero-shot {
    0%   {
        transform: scaleX(1);
    }
    50%   {
        transform: scaleX(1.05);
    }
    100%   {
        transform: scaleX(1);
    }
}

.header-image:before {
    position: absolute;
    content: "";
    width: 80%;
    height: 10%;
    background-color: #1c1c1c;
    bottom: -5%;
    left: -20%;
    border-radius: 50%;
}

.header-image:after {
    position: absolute;
    content: "";
    width: 110%;
    height: 15%;
    background-color: #1c1c1c;
    bottom: -8%;
    right: -30%;
    border-radius: 40%;
}

.jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: rgba(0,0,0, .8);
    padding: 1rem 2rem 1.5rem;
    border-radius: 1rem;
}

.jumbotron h1 {
    font-size: 3rem;
    color: #f3f3f3;
    text-shadow: 2px 2px #a0905f;
}

.jumbotron a {
    margin-top: 2rem;
    text-decoration: none;
    background-color: #a05f7e;
    color: #f7f7f7;
    font-size: 2.5rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
}

.container {
    margin: 5rem auto;
    height: 60vh;
}

/* ABOUT SUMMARY */
.about-summary {
font-family: "Open Sans", sans-serif;
margin: 2rem auto;
width: 80%;
padding: 2rem;
font-size: 2rem;
border: 2.5rem solid #181818;
border-radius: 36px;
color: #f7f7f7;
background: linear-gradient(145deg, #111, #161616);
box-shadow:  5px 5px 6px #0e0e0e, 
            -5px -5px 6px #222222;
}

.about-summary-user {
    font-weight: bold;
    background-color: cadetblue;
    color: #111;
    border-radius: 2px;
    padding: 5px;
}

.about-summary-pwd {
    color: #a05f7e;
}

.cursor-rectangle {
    visibility: visible;
    color: #a05f7e;
}

.cursor-hide {
    visibility: hidden;
}

/* SKILLS */
.skill {
    width: 80%;
    margin: auto;
    position: relative;
    border-radius: 50%;
    background: linear-gradient(145deg, #161616, #1a1a1a);
    box-shadow:  5px 5px 6px #0e0e0e, 
                 -5px -5px 6px #222222; 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skill:before {
    content: "";
    display: block;
    padding-top: 100%;
}

h4 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    z-index: 5;
}

.skill-name {
    font-size: 1.8rem;
    margin-top: 1rem;
    z-index: 2;
    font-weight: bold;
    color: #a07f5f;
}

.skill-level {
    font-size: 2.2rem;
    position: absolute;
    z-index: 2;
    margin: 0;
    line-height: 0;
}

.skill-info-bars {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 85%;
    width: 85%;
    background: #181818;
    border-radius: 50%;
    box-shadow: inset 5px 5px 6px #0e0e0e, 
                inset -5px -5px 6px #222222;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    overflow: hidden;
}

.skill-bar {
    display: inline-block;
    z-index: 3;
    content: "";
    width: 6%;
}

/* CONTACT */
form {
    border-radius: 1.5rem;
    background: linear-gradient(145deg, #111, #161616);
    box-shadow:  9px 9px 10px #0e0e0e, 
                -9px -9px 10px #222222;
}

form .row {
    padding: 0 1.5rem;
}

input:focus, textarea:focus {
    color: #f7f7f7;
}

input, textarea {
    color: cadetblue;
}

/* ABOUT */
.about-section-wrapper img {
    width: 40%;
    height: auto;
    margin: 0 1rem;
}

.float-img-left {
    float: left;
}

.float-img-right {
    float: right;
}

.about-section-wrapper p, .about-section-wrapper ul li {
    font-size: 1.8rem;
    margin: 0;
}


/* PROJECTS */
.project-wrapper {
    width: 85%;
    min-height: 450px;
    margin: auto;
    border: 2rem solid #181818;
    border-radius: .5rem;
    background: #1c1c1c;
    box-shadow:  7px 7px 10px #0e0e0e, 
                -7px -7px 10px #222222;
}

.project-wrapper h3 {
    font-size: 2rem;
    text-align: center;
}

.project-wrapper img {
    width: 100%;
    height: auto;
}

.project-wrapper a {
    font-size: 3rem;
}

.project-wrapper i {
    border-radius: 50%;
    background: #1c1c1c;
    box-shadow:  5px 5px 12px #161616, 
                 -5px -5px 12px #222222;    
}

.project-links-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/* COLOURS */
.cadetblue {
    color: cadetblue;
}

.magenta {
    color: #a05f7e;
}