@import url('https://fonts.googleapis.com/css?family=Baloo+2|Roboto|VT323&display=swap');

body {
    font-size: 16px;
    background-color: #1c1c1c;
    font-family: 'Baloo 2', cursive;
}

/* NAVBAR */
.vertical-align {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.align-right {
    right: 5rem;
}

nav {
    height: 8vh;
    background-color: #5f9ea0;
}

.brand-logo {
    height: 40%;
    margin-left: 5rem;
}

nav img {
    height: 100%;
}

nav ul {
    margin-right: 5rem;
}

nav ul li a {
    text-shadow: 2px 2px #333;
    margin: 0 .5rem;
    font-size: 1.6rem;
}

/* HEADER */

.header-image {
    width: 100vw;
    height: 65vh;
    background: url("https://res.cloudinary.com/wondrouswebworks/image/upload/v1584828926/wondrousWebWorks/abstract-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #f3f3f3;
    text-shadow: 3px 3px #a0905f;
}
.jumbotron a {
    margin-top: 2rem;
    text-decoration: none;
    background-color: #a05f7e;
    color: #f7f7f7;
    font-size: 3rem;
    padding: .5rem;
    border-radius: 1rem;
}

.container {
    margin: 5rem auto;
    height: 60vh;
}

/* ABOUT SUMMARY */

#about-summary {
    font-family: 'VT323', monospace;
    margin: 2rem auto;
    width: 80%;
    padding: 2rem;
    font-size: 2.3rem;
    border: 3rem solid #181818;
    border-radius: 36px;
    color: #00ff66;
    background: linear-gradient(to bottom right, #111, #171717);
    box-shadow:  8px 8px 14px #0b0b0b, 
                -8px -8px 14px #252525;

}

#about-summary-user {
    font-weight: bold;
    background-color: #00ff66;
    color: #111;
    border-radius: 2px;
    /* background-color: #009900; */
}

#about-summary-pwd {
    color: #009900;
}

.cursor-rectangle {
    visibility: visible;
}

.cursor-hide {
    visibility: hidden;
}