<!DOCTYPE html>
{% block about_summary %}
<div class="row">
    <div class="col s12">
        <p id="about-summary"><span id="about-summary-user">johann@wondrouswebworks:</span><span id="about-summary-pwd">~/about-summary$</span> I'm a passionate developer and absolutely love bringing ideas to life. Solving inevitable problems which arise along the way is my middle name. I relish a challenge, and enjoy expanding upon my ever-expanding skill set. Get in touch, and see what I can develop for you!<span id="cursor-rectangle">▮</span></p>
    </div>
</div>
{% endblock %}