<!DOCTYPE html>
<div class="row">
    <div class="col s12">
        <div class="tablet-style-container">
            <p><span class="tablet-style-user">johann@wondrous:</span><span class="tablet-style-pwd magenta"> ~/about-summary</span><span class="cadetblue">$</span> I'm a passionate developer and absolutely love bringing ideas to life. Solving problems which inevitably arise along the way is my middle name. I relish a challenge, and enjoy expanding upon my ever-expanding skill set. Get in touch, and see what I can develop for you!<span class="cursor-rectangle">▮</span></p>
        </div>
    </div>
</div>