<!DOCTYPE html>
<div class="admin-nav">
    <div class="container admin-nav-container">
        <div class="row">
            <div class="col s12">
                <a href="{{ url_for('admin') }}" class="admin-heading cadetblue center-align"><i class="fas fa-toolbox"></i>&nbsp;MY ADMIN</a>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <a href="{{ url_for('index') }}" class="admin-link-to-profile off-white"><i class="far fa-compass"></i>&nbsp; BACK TO PROFILE</a>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="admin-nav-dropdown-wrapper">
                    <a class="admin-nav-dropdown-trigger off-white" href="#">SKILLS<i class="fas fa-chevron-down admin-nav-chevron cadetblue"></i></a>
                </div>
                <ul class="admin-nav-dropdown">
                    <li><a href="{{ url_for('add_skill') }}" class="off-white"><i class="fas fa-plus-square cadetblue"></i>&nbsp;&nbsp;&nbsp;ADD</a></li>
                    <li><a href="{{ url_for('manage_skills') }}" class="off-white"><i class="fas fa-edit red-gold"></i>&nbsp;&nbsp;MANAGE</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="admin-nav-dropdown-wrapper">
                    <a class="admin-nav-dropdown-trigger off-white" href="#">PROJECTS<i class="fas fa-chevron-down admin-nav-chevron cadetblue"></i></a>
                </div>
                <ul class="admin-nav-dropdown">
                    <li><a href="{{ url_for('add_project') }}" class="off-white"><i class="fas fa-plus-square cadetblue"></i>&nbsp;&nbsp;&nbsp;ADD</a></li>
                    <li><a href="{{ url_for('manage_projects') }}" class="off-white"><i class="fas fa-edit red-gold"></i>&nbsp;&nbsp;MANAGE</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="admin-nav-dropdown-wrapper">
                    <a class="admin-nav-dropdown-trigger off-white" href="#">EDUCATION<i class="fas fa-chevron-down admin-nav-chevron cadetblue"></i></a>
                </div>
                <ul class="admin-nav-dropdown">
                    <li><a href="{{ url_for('add_qualification') }}" class="off-white"><i class="fas fa-plus-square cadetblue"></i>&nbsp;&nbsp;&nbsp;ADD</a></li>
                    <li><a href="{{ url_for('manage_qualifications') }}" class="off-white"><i class="fas fa-edit red-gold"></i>&nbsp;&nbsp;MANAGE</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="admin-nav-dropdown-wrapper">
                    <a class="admin-nav-dropdown-trigger off-white" href="#">BLOGS<i class="fas fa-chevron-down admin-nav-chevron cadetblue"></i></a>
                </div>
                <ul class="admin-nav-dropdown">
                    <li><a href="{{ url_for('add_blog_post') }}" class="off-white"><i class="fas fa-plus-square cadetblue"></i>&nbsp;&nbsp;&nbsp;ADD</a></li>
                    <li><a href="{{ url_for('manage_blogs') }}" class="off-white"><i class="fas fa-edit red-gold"></i>&nbsp;&nbsp;MANAGE</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="admin-nav-dropdown-wrapper">
                    <a class="admin-nav-dropdown-trigger off-white" href="#">EXPERIENCE<i class="fas fa-chevron-down admin-nav-chevron cadetblue"></i></a>
                </div>
                <ul class="admin-nav-dropdown">
                    <li><a href="{{ url_for('add_experience') }}" class="off-white"><i class="fas fa-plus-square cadetblue"></i>&nbsp;&nbsp;&nbsp;ADD</a></li>
                    <li><a href="{{ url_for('manage_experience') }}" class="off-white"><i class="fas fa-edit red-gold"></i>&nbsp;&nbsp;MANAGE</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>