<!DOCTYPE html>
{% block fixed_shortcuts_left %}
    <div class="fixed-shortcuts-left">
        <a href="{{ url_for('contact') }}" class="sa-flag-red rotate-link">
            <i class="fas fa-envelope"></i>
        </a>
        <br>
        <a href="https://github.com/wondrousWebWorks" target="_blank" class="sa-flag-gold rotate-link">
            <i class="fab fa-github"></i>
        </a>
        <br>
        <a href="https://www.linkedin.com/in/johann-alberts-5b7476136/" target="_blank" class="sa-flag-green rotate-link">
            <i class="fab fa-linkedin"></i>
        </a>
    </div>
{% endblock %}