<!DOCTYPE html>
<div class="row">
    <div class="col s12">
        <ul class="collapsible custom-collapsible">
            {% for qualification in qualifications %}
            <li>
                <div class="collapsible-header custom-collapsible-header"><i class="fas fa-chevron-down cadetblue"></i>  {{ qualification.qualification_name}}</div>
                <div class="collapsible-body custom-collapsible-body">
                    <p><i class="fas fa-university red-gold"></i>&nbsp;&nbsp;Institution: {{ qualification.qualification_from }}</p>
                    <p><i class="fas fa-calendar-alt red-gold"></i>&nbsp;&nbsp;Issued: {{ qualification.qualification_issue_date }}</p>
                    <div class="qualification-btn-wrapper">
                        <a href="{{ qualification.qualification_link }}" target="_blank" class="qualification-btn  off-white cadetblue-bg">View</a>
                        <a href="{{ qualification.qualification_info }}" target="_blank" class="qualification-btn  off-white magenta-bg">More Info</a>
                    </div>
                </div>
            </li>
            {% endfor %}
          </ul>
    </div>
</div>