<!DOCTYPE html>
<html lang="en">
{% include 'layout/head.html' %}

<body>
    {% with type = 'admin' %}
        {% include 'components/navbar/navbar.html' %}
    {% endwith %}

    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <ul class="alert-wrapper">
                {% for category, message in messages %}
                    <li class="alert-message alert-{{category}}">
                        {{message}}
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
        {% block admin_block %}{% endblock %}
    </div>

    {% include 'layout/scripts.html' %}
    {% block scripts %}{% endblock %}

</body>

</html>