<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon/favicon-16x16.png">
    <title>wondrousWebWorks() | A profile for the developer Johann Alberts</title>
</head>

<body>
    {% include 'layout/header.html' %}
    {% block header %}
    {% endblock %}
    
    <div class="container">
        {% block base_body %} {% endblock %}
    </div>

    {% include 'components/fixed-shortcuts-left.html' %}
    {% block fixed_shortcuts_left %}{% endblock %}

    {% include 'layout/scripts.html' %}
    {% block scripts %}{% endblock %}
</body>
</html>