<!DOCTYPE html>
<footer class=" sa-flag-green-bg">
    <p class="copyright off-white text-shadow-1px">&copy; 2020 wondrousWebWorks( )</p>
    <div id="footer-links">
        <a href="{{ url_for('contact') }}" class="footer-link off-white rotate-link">
            <i class="fas fa-envelope"></i>
        </a>
        <br>
        <a href="https://github.com/wondrousWebWorks" target="_blank" class="footer-link off-white rotate-link">
            <i class="fab fa-github"></i>
        </a>
        <br>
        <a href="https://www.linkedin.com/in/johann-alberts-5b7476136/" target="_blank" class="footer-link off-white rotate-link">
            <i class="fab fa-linkedin"></i>
        </a>
    </div>
</footer>