{% block navbar %}{% endblock %}
<div class="row">
    {% if image_height == 'full-screen' %}
        <div class="col s12 header-image-wrapper">
    {% else %}
        <div class="col s12 header-image-wrapper header-image-shorter">
    {% endif %}
        <div class="header-image"></div>
        <div class="jumbotron">
            {% if view == 'about' %}
                <h1 class="off-white">Find out more about me &#128526;</h1>
                <a class="call-to-action-btn btn btn-large sa-flag-red-bg off-white text-shadow-2px" href="#view">Read Now!</a>
            {% elif view == 'projects' %}
                <h1 class="off-white">A full list of my projects for your viewing pleasure</h1>
                <a class="call-to-action-btn btn btn-large sa-flag-red-bg off-white text-shadow-2px" href="#view">View Now!</a>
            {% elif view == 'project' %}
                <h1 class="off-white">View some more information about {{ project.project_name }}</h1>
                <a class="call-to-action-btn btn btn-large sa-flag-red-bg off-white text-shadow-2px" href="#view">Read Now!</a>
            {% elif view == 'blogs' %}
                <h1 class="off-white">A selection of blogs about full stack software development</h1>
                <a class="call-to-action-btn btn btn-large sa-flag-red-bg off-white text-shadow-2px" href="#view">Read Now!</a>
            {% elif view == 'blog post' %}
                <h1 class="off-white">{{ blog_entry.blog_title }}</h1>
                <h2 class="header-summary off-white">{{ blog_entry.blog_summary }}</h2>
                <a class="call-to-action-btn btn btn-large sa-flag-red-bg off-white text-shadow-2px" href="#view">Read Now!</a>
            {% elif view == 'contact' %}
                <h1 class="off-white">Feel free to contact me should you have any queries</h1>
                <a class="call-to-action-btn btn btn-large sa-flag-red-bg off-white text-shadow-2px" href="#view">Get In Touch</a>
            {% elif view == 'login' %}
                <h1 class="off-white">Log in to manage site content</h1>
                <a class="call-to-action-btn btn btn-large sa-flag-red-bg off-white text-shadow-2px" href="#view">Log in now!</a>
            {% elif view == '404' %}
                <h1 class="off-white">Oops! The dreaded 404 message...</h1>
                <h2 class="header-summary off-white">The page you're looking for couldn't be located</h2>
                <a class="call-to-action-btn btn btn-large sa-flag-red-bg off-white text-shadow-2px" href="{{ url_for('home') }}">Go somewhere familiar</a>
            {% else %}
                <h1 class="off-white">Hello there!</h1>
                <h1 class="off-white">I'm Johann, a Full Stack developer</h1>
                <a class="call-to-action-btn btn btn-large sa-flag-red-bg off-white text-shadow-2px" href="{{ url_for('contact') }}">GET IN TOUCH</a>
            {% endif %}
        </div>
        <div id="view"></div>
    </div>
</div>