{% block navbar %}{% endblock %}
<div class="row">
    {% if image_height == 'full-screen' %}
        <div class="col s12 header-image">
    {% else %}
        <div class="col s12 header-image header-image-shorter">
    {% endif %}
        <div class="jumbotron">
            {% if view == 'about' %}
                <h1>Find out more about me &#128526;</h1>
                <a class="call-to-action-btn btn btn-large sa-flag-red-bg off-white text-shadow-2px" href="#view">Read Now!</a>
            {% elif view == 'projects' %}
                <h1>A full list of my projects for your viewing pleasure</h1>
                <a class="call-to-action-btn btn btn-large sa-flag-red-bg off-white text-shadow-2px" href="#view">View Now!</a>
            {% elif view == 'blogs' %}
                <h1>A selection of blogs about full stack software development</h1>
                <a class="call-to-action-btn btn btn-large sa-flag-red-bg off-white text-shadow-2px" href="#view">Read Now!</a>
            {% elif view == 'contact' %}
                <h1>Feel free to contact me should you have any queries</h1>
                <a class="call-to-action-btn btn btn-large sa-flag-red-bg off-white text-shadow-2px" href="#view">Get In Touch</a>
            {% elif view == 'login' %}
                <h1>Log in to manage site content</h1>
                <a class="call-to-action-btn btn btn-large sa-flag-red-bg off-white text-shadow-2px" href="#view">Log in now!</a>
            {% else %}
                <h1>Hello there!</h1>
                <h1>I'm Johann, a Full Stack developer</h1>
                <a class="call-to-action-btn btn btn-large sa-flag-red-bg off-white text-shadow-2px" href="{{ url_for('contact') }}">GET IN TOUCH</a>
            {% endif %}
        </div>
        <div id="view"></div>
    </div>
</div>