<!DOCTYPE html>
{% extends 'layout/admin-base.html' %}
{% block admin_block %}
<div class="row dashboard-row">
    <div class="col s6 m4 center-align">
        <div class="admin-info center-align">
            <div class="admin-info-inner">
                <h3 class="admin-info-value">{{ skill_count }}</h3>
            </div>
        </div>
        <h4 class="admin-info-category off-white">Skills</h4>
        <a href="{{ url_for('manage_skills') }}" class="btn btn-lg dashboard-btn off-white text-shadow-2px"><i class="fas fa-tools"></i>
            MANAGE</a>
    </div>
    <div class="col s6 m4 center-align">
        <div class="admin-info">
            <div class="admin-info-inner">
                <h3 class="admin-info-value">{{ project_count }}</h3>
            </div>
        </div>
        <h4 class="admin-info-category off-white">Projects</h4>
        <a href="{{ url_for('manage_projects') }}" class="btn btn-lg dashboard-btn off-white text-shadow-2px"><i class="fas fa-tools"></i>
            MANAGE</a>
    </div>
    <div class="col s6 m4 center-align">
        <div class="admin-info">
            <div class="admin-info-inner">
                <h3 class="admin-info-value">{{ qualification_count }}</h3>
            </div>
        </div>
        <h4 class="admin-info-category off-white">Qualifications</h4>
        <a href="{{ url_for('manage_qualifications') }}" class="btn btn-lg dashboard-btn off-white text-shadow-2px"><i class="fas fa-tools"></i>
            MANAGE</a>
    </div>
    <div class="col s6 offset-m2 m4 center-align">
        <div class="admin-info center-align">
            <div class="admin-info-inner">
                <h3 class="admin-info-value">{{ blog_posts_count }}</h3>
            </div>
        </div>
        <h4 class="admin-info-category off-white">Blogs</h4>
        <a href="{{ url_for('manage_blogs') }}" class="btn btn-lg dashboard-btn off-white text-shadow-2px"><i class="fas fa-tools"></i>
            MANAGE</a>
    </div>
    <div class="col offset-s3 s6 m4 center-align">
        <div class="admin-info">
            <div class="admin-info-inner">
                <h3 class="admin-info-value">{{ experience_count }}</h3>
            </div>
        </div>
        <h4 class="admin-info-category off-white">Experience</h4>
        <a href="{{ url_for('manage_experience') }}" class="btn btn-lg dashboard-btn off-white text-shadow-2px"><i class="fas fa-tools"></i>
            MANAGE</a>
    </div>
</div>
{% endblock %}