<!DOCTYPE html>
{% extends 'layout/admin-base.html' %}
{% block admin_block %}

{% with icon = 'briefcase', section_title = 'EXPERIENCE' %}
    {% include 'components/section-heading.html' %}
{% endwith %}

{% with alert_id = 'experience-alert' %}
    {% include 'components/admin/admin-alert.html' %}
{% endwith %}

<div class="row">
    <div class="col s12 center-align">
        <a class="btn-large add-btn add-experience-btn green off-white"><i class="fas fa-plus-square"></i>&nbsp;ADD EXPERIENCE</a>
        <ul class="admin-list eerie-black-bg">
            {% for job in experience %}
            <li class="admin-list-item off-white">{{ job.job_title}}
                <span>
                    <a class="update-experience-btn btn waves-effect waves-light light-blue darken-2 off-white text-shadow-1px" data-id="{{ job._id }}"><i
                        class="fas fa-edit"></i> Edit</a>
                    <a class="delete-experience-btn btn waves-effect waves-light red darken-3 off-white text-shadow-1px" data-id="{{ job._id }}"><i
                        class="fas fa-trash-alt"></i> Delete</a>
                </span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}