<!DOCTYPE html>
{% extends 'layout/admin-base.html' %}
{% block admin_block %}

{% with icon = 'code', section_title = 'PROJECTS' %}
    {% include 'components/section-heading.html' %}
{% endwith %}

{% with alert_id = 'projects-alert' %}
    {% include 'components/admin/admin-alert.html' %}
{% endwith %}

<div class="row">
    <div class="col s12 center-align">
        <a class="btn-large add-btn add-project-btn green off-white"><i class="fas fa-plus-square"></i>&nbsp;ADD PROJECT</a>
        <ul class="admin-list eerie-black-bg">
            {% for project in projects %}
            <li class="admin-list-item off-white">{{ project.project_name}}
                <span>
                    <a class="update-project-btn btn waves-effect waves-light light-blue darken-2 off-white text-shadow-1px" data-id="{{ project._id }}"><i class="fas fa-edit"></i> Edit</a>
                    <a class="delete-project-btn btn waves-effect waves-light red darken-3 off-white text-shadow-1px" data-id="{{ project._id }}"><i class="fas fa-trash-alt"></i> Delete</a>
                </span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}