<!DOCTYPE html>
{% extends 'layout/admin-base.html' %}
{% block admin_block %}

{% with icon = 'graduation-cap', section_title = 'EDUCATION' %}
    {% include 'components/section-heading.html' %}
{% endwith %}

<div class="row">
    <div class="col s12">
        <ul class="admin-list eerie-black-bg">
            <a class="add-btn off-white green-bg modal-trigger" href="#"><i class="fas fa-plus-square"></i>&nbsp;ADD QUALIFICATION</a>
            {% for qualification in qualifications %}
            <li class="admin-list-item off-white">{{ qualification.qualification_name}}
                <span>
                    <a href="{{ url_for('edit_qualification', qualification_id=qualification._id) }}" class="admin-list-btn light-blue-bg"><i
                                class="fas fa-edit"></i> Edit</a>
                    <a href="{{ url_for('delete_qualification', qualification_id=qualification._id) }}" class="admin-list-btn crimson-bg"><i
                                class="fas fa-trash-alt"></i> Delete</a>
                </span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}