<!DOCTYPE html>
{% extends 'layout/admin-base.html' %}
{% block admin_block %}

{% with icon = 'magic', section_title = 'SKILLS' %}
    {% include 'components/section-heading.html' %}
{% endwith %}

<div class="row">
    <div class="col s12 center-align">
        <a id="add-skill-btn" class="add-modal-trigger btn btn-large sa-flag-green-bg off-white text-shadow-1px"><i class="fas fa-plus-square"></i>&nbsp;ADD SKILL</a>
        <ul class="admin-list eerie-black-bg">
            {% for skill in skills %}
            <li class="admin-list-item off-white">
                <h3 class="admin-list-item-text">
                    {{ skill.skill_name}}
                </h3>
                <div class="admin-list-item-btn-wrapper">
                    <a class="update-skill-btn update-btn btn waves-effect waves-light sa-flag-blue-bg off-white text-shadow-1px" data-id="{{ skill._id }}"><i
                        class="fas fa-edit"></i> Edit</a>
                    <a class="delete-skill-btn delete-btn btn waves-effect waves-light sa-flag-red-bg off-white text-shadow-1px" data-id="{{ skill._id }}"><i
                        class="fas fa-trash-alt"></i> Delete</a>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% include 'components/forms/skills-form.html' %}

{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/admin/skills.js') }}"></script>
{% endblock %}